body, nav {
    background-color: rgb(21, 32, 43);
}

.navbar {
    /* padding: 5px 16px; */
    align-items: flex-start;
    position: fixed;
}

/* #sidebar {
    position: sticky;
    float: right;
} */

.navbar .container {
    padding: 0;
    align-items: flex-start;
}

#content {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0;
}

.nav-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6, p, span, a, hr, div {
    margin: 0;
}
.text-muted p {
    color:rgb(139, 152, 165);;
    margin: 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
}

/* BUTTONS */
.btn {
    border-radius: 30px;
    padding: 6px 16px;
    /* color: white; */
}

.btn-primary {
    background-color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 700;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(26, 140, 216);
}

.btn-link {
    background-color: rgba(0,0,0,0);
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.btn-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-link:active {
    font-weight: 700;
}

.btn-link span {
    margin-left: 20px;
    margin-right: 16px;
}
/* end Buttons */

/* Forms */
.tweet-form-container .form-control, .form-control:focus {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
}

form#tweet-form {
    margin: 0;
}

input#searchbar {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

input#searchbar:focus {
    background-color: rgba(0, 0, 0, 0);
    border: rgb(29, 155, 240);
}
/* end Forms */
a {
    text-decoration: none;
    /* color: black; */
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#username-link:hover {
    text-decoration: none;
}

#show-tweet-link:hover {
    text-decoration: none;
}

.tweet-username-container {
    display: flex;
    align-items: flex-start;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.tweet-username-container {
    padding-right: 5px;
    margin-bottom: 2px;
}

.tweet-username-container p {
    color: rgb(139, 152, 165);;
}

.interaction-container {
    margin-top: 10px;
}

.interaction-container, .tweet-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 50px; */
    border-top: 1px solid gray;
}

b {
    color: white;
}

.tweet-container {
    margin: 0;
    padding: 0 16px;
    border-bottom: 1px solid gray;
}

.tweet-col {
    margin-right: 12px;
    padding: 0;
    display:flex; 
    justify-content: flex-end; 
}

div#rt-row {
    font-size: 13px;
    padding: 12px 0 0 0;
    width: 100%;
    font-weight: bold;
}

.row {
    margin: 0;
    padding-bottom: 12px;
}

.rt-content {
    margin-top: -4px;
    margin-bottom: 4px;
}

.col-10 {
    padding: 0;
}

.profile-name {
    margin-right: 4px;
}

.home-tweet-action-container {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count {
    padding: 0 12px;
    color: rgb(139, 152, 165);
}

i, .rt-content p {
    color: rgb(139, 152, 165);
}

.home-feed-container {
    padding: 0;
    margin: 0;
    width: 100%;
}

#tweet-form {
    background-color: rgb(21, 32, 43);
    margin: 12px;
}

#tweet-form-btn {
    background-color: rgb(29, 155, 240);
    border-radius: 20px;
    padding: 6px 16px;
    /* margin: 12px; */

}

.tweet-btn-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#searchbar {
    border-radius: 50px;
}

.navbar-btn {
    background-color: rgb(21, 32, 43);
}

.navbar-btn:hover {
    background-color: rgb(29, 155, 240);
}

.login-btn {
    background-color: rgb(29, 155, 240);
    color: white;
}


.profile-info-container {
    display: flex;
    padding: 12px 16px 0 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.profile-info-container img {
    margin-bottom: 12px;
}

.profile-pic-row {
    display: flex;
    justify-content: space-between;
}

.profile-pic-row .btn{
    /* padding: 0 16px; */
    margin-bottom: 12px;
    /* background-color: rgb(21, 32, 43); */
}
.profile-name-row,
.profile-follows-row {
    display: flex;
    justify-content: flex-start;
}

.profile-name-row {
    flex-direction: column;
    margin: 4px 0 12px 0;
}

.follow-count {
    font-size: 16px;
}

.follow-count strong {
    color: white;
}

.follow-count em {
    color: rgb(139, 152, 165);
}

.follow-container {
    margin: 0;
    padding: 0 16px;
    border-bottom: 1px solid gray;
}

.follow-username-container {
    padding-right: 5px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.follow-username-container p{
    color: rgb(139, 152, 165);
}


div#results .list-group {
    border-radius: 20px;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    padding: 0;
}

.result {
    padding: 12px 16px;
    background-color: rgb(21, 32, 43);
}

.result:not(:last-child) {
    border-bottom: 0.5px solid gray;
}

.follow-suggestions-card .card {
    border-radius: 20px;
}

div#suggestion-list li {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
}

div#suggestion-list li:last-child {
    border-radius: 0 0 20px 20px;
}

div#suggestion-list li:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

