{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="row">
	<div class="col-8 home-feed-container">
		<h1 style="margin-left:12px;">Home</h1>
		{% if form %}
		  <form method="POST" id="tweet-form">
			  {% csrf_token %} {{form.as_p}}
			  <div class="tweet-btn-container">
				  <button type="submit" class="btn btn-primary" id="tweet-form-btn">Tweet</button>
			  </div>
		  </form>
		{% endif %}
      	<hr />
      	{% for tweet in tweets %}
		<div class="container" id="tweet-container">
			<div class="row">

				{% comment %} RETWEETED POST {% endcomment %}
				{% if tweet.is_retweet %}
					<div class="row" id="rt-row">
						<div class="col-1 tweet-col rt-content" style="align-items: center;"><i class="fa-solid fa-retweet"></i></div>
						
						<div class="col-10 rt-content"><a href="{% url 'profile' tweet.user.id %}"><p>{{tweet.user.profile.name}} retweeted</p></a></div>
						
					</div>

					<div class="col-1 tweet-col">
						<img
							src="{{ tweet.parent.user.profile.profile_pic.url }}"
							class="rounded-circle"
							alt="{{tweet.parent.user.username}}'s Profile Picture"
							width="40"
							height="40"
						/>
					</div>
					<div class="col-10">			
						<div class="tweet-username-container">
							{% if tweet.parent.user.profile.name %}
								<h5 class="profile-name"><a href="{% url 'profile' tweet.parent.user.id %}">{{tweet.parent.user.profile.name}}</a></h5>
							{% else %}
								<h5 class="profile-name"></h5>
							{% endif %}

							<a href="{% url 'profile' tweet.parent.user.id %}" id="username-link">
								<p>@{{tweet.parent.user.username}}</p>
							</a>
							&nbsp;
							<p> • {{tweet.parent.created_at|timesince}} ago</p>
						</div>

						<a href="{% url 'show_tweet' tweet.parent.id %}" id="show-tweet-link">
							<p>{{tweet.parent.body}}</p>
						</a> 
						<div class="home-tweet-action-container">
							<div class="action-count">
								<i class="fa-regular fa-comment"></i>
								<p class="count">0</p>
							</div>

							<div class="action-count">
								{% comment %} {% if tweet.parent.did_user_retweet and tweet.parent.retweet_count != 0 %} {% endcomment %}
								{% if user in tweet.parent.retweeters %}
									<a href="{% url 'retweet' tweet.id %}"><i class="fa-solid fa-retweet" style="color: rgb(0, 186, 124);"></i></a>
									<p class="count" style="color: rgb(0, 186, 124);">{{tweet.parent.retweet_count}}</p>
								{% else %}
									<a href="{% url 'retweet' tweet.id %}"><i class="fa-solid fa-retweet"></i></a>
									<p class="count">{{tweet.parent.retweet_count}}</p>
								{% endif %}
							</div>

							<div class="action-count">
								{% if user in tweet.parent.likes.all %}
								<a href="{% url 'like_tweet' tweet.parent.id %}"><i class="fa-solid fa-heart" style="color: rgb(249, 24, 128)"></i></a>
								<p class="count" style="color: rgb(249, 24, 128)">{{tweet.parent.likes_count}}</p>
								{% else %}
								<a href="{% url 'like_tweet' tweet.parent.id %}"><i class="fa fa-heart-o"></i></a>
								<p class="count">{{tweet.parent.likes_count}}</p>
								{% endif %} 
							</div>
							<div class="action-count">
								<i class="fa-regular fa-bookmark"></i>
								<p class="count">0</p>
							</div>
						</div>
						
					</div>

				{% comment %} ORIGINAL TWEET {% endcomment %}
				{% else %}
					<div class="row" id="rt-row">
						<div class="col-1 tweet-col rt-content" style="align-items: center;"></div>
						<div class="col-10 rt-content"></div>
					</div>
					<div class="col-1 tweet-col">
						<a href="{% url 'profile' tweet.user.id %}">
							<img
							src="{{ tweet.user.profile.profile_pic.url }}"
							class="rounded-circle"
							alt="{{tweet.user.username}}'s Profile Picture"
							width="40"
							height="40"
							/>
						</a>
					</div>
					<div class="col-10">
						<div class="tweet-username-container">
							{% if tweet.user.profile.name %}
								<h5 class="profile-name"><a href="{% url 'profile' tweet.user.id %}">{{tweet.user.profile.name}}</a></h5>
							{% else %}
								<h5 class="profile-name"></h5>
							{% endif %}
							<a href="{% url 'profile' tweet.user.id %}" id="username-link">
								<p>@{{tweet.user.username}}</p>
							</a>
							&nbsp;
							<p> • {{tweet.created_at|timesince}} ago</p>
						</div>
	
						<a href="{% url 'show_tweet' tweet.id %}" id="show-tweet-link">
							<p>{{tweet.body}}</p>
						</a>
	 
						<div class="home-tweet-action-container">
							<div class="action-count">
								<i class="fa-regular fa-comment"></i>
								<p class="count">0</p>
							</div>

							{% comment %} RETWEETS {% endcomment %}
							<div class="action-count">
								{% if user in tweet.retweeters %}
									<a href="{% url 'retweet' tweet.id %}"><i class="fa-solid fa-retweet" style="color: rgb(0, 186, 124);"></i></a>
									<p class="count" style="color: rgb(0, 186, 124);">{{tweet.retweet_count}}</p>
								{% else %}
									<a href="{% url 'retweet' tweet.id %}"><i class="fa-solid fa-retweet"></i></a>
									<p class="count">{{tweet.retweet_count}}</p>
								{% endif %}
							</div>

							{% comment %} LIKES {% endcomment %}
							<div class="action-count">
								{% if user in tweet.likes.all %}
								<a href="{% url 'like_tweet' tweet.id %}"><i class="fa-solid fa-heart" style="color: rgb(249, 24, 128)"></i></a>
								<p class="count" style="color: rgb(249, 24, 128)">{{tweet.likes_count}}</p>
								{% else %}
								<a href="{% url 'like_tweet' tweet.id %}"><i class="fa fa-heart-o"></i></a>
								<p class="count">{{tweet.likes_count}}</p>
								{% endif %} 
							</div>

							{% comment %} BOOKMARKS {% endcomment %}
							<div class="action-count">
								<i class="fa-regular fa-bookmark"></i>
								<p class="count">0</p>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>	
		{% endfor %}
	</div>
    </div>
  </div>
</div>

{% endblock %}
