{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="row">
	<div class="home-feed-container">
		<h5 style="margin:12px;">Home</h5>
		<hr>
		{% if form %}
		<div class="container tweet-container">
			<div class="row" style="padding-top: 12px;">
				<div class="col-1 tweet-col">
					<a href="{% url 'profile' user.id %}">
						<img
						src="{{ current_user.profile_pic.url }}"
						class="rounded-circle"
						alt="{{current_user.username}}'s Profile Picture"
						width="40"
						height="40"
						/>
					</a>
				</div>
				<div class="col-10 tweet-form-container">
					<form method="POST" id="tweet-form">
						{% csrf_token %} 
						{{form.as_p}}
						<div class="tweet-btn-container">
							<button type="submit" class="btn btn-primary" id="tweet-form-btn">Tweet</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% endif %}

      	{% for tweet in tweets %}
			{% include 'partials/tweet.html' %}
		{% endfor %}
	</div>
</div>

{% endblock %}
