{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Social Media App</title>
        
        {% load bootstrap5 %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}" defer></script>
        
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://kit.fontawesome.com/6f8b291895.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/htmx.min.js' %}" defer></script>
    </head>
    <body>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="row">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-3 p-0" id="navbar">
                    {% include 'navbar.html' %}
                </div>
                <div class="col-6" id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-4 p-0" id="sidebar">
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div>
    </body>
</html>