{% load static %}
<div class="container flex-column mt-3">
    <div class="searchbar-input">
      <i class="fa fa-search" id="searchbar-icon"></i>
      <input class="form-control me-2" 
          name='query'
          type="search" 
          placeholder="Search" 
          aria-label="Search" 
          id="searchbar" 
          list="profile_results" 
          autocomplete="off"
          hx-get="{% url 'search' %}"
          hx-target="#sb-results"
          hx-trigger="input delay:0.2s"
      >
    </div>

    <div class="row results" id="sb-results">
      {% include 'search_results.html' %}
    </div>
 

  {% if user.is_authenticated %}

  <div class="follow-suggestions-card" hx-get="{% url 'follow_suggestions' %}" hx-target="#suggestion-list" hx-trigger="load, changed">
    <div class="card mt-3">
      <div class="card-body p-3">
        <h5 class="card-title m-0">Who to Follow</h5>
      </div>
      <div id="suggestion-list">
        <ul class="list-group list-group-flush">
          {% include 'follow_suggestions.html' %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>